.my-card {
  color: #341773;
  margin: 0px 300px 0px 300px;
  opacity: 0.95;
  padding: 30px 50px 20px 50px;
}

.mat-form-field {
  padding-top: 10px;
}

#profileImage {
  width: 400px;
  height: 450px;
}

#address {
  width: 30%;
}

#bio {
  width: 100%;
}

#changePass:hover {
  background-color: #a878ff;
}

.changepass-card {
  padding-top: 120px;
}
