<!-- za promenu password-a -->
<div class="changepass-card">
<mat-card class="my-card">
  <mat-card-header>
    <mat-card-title><strong>Change Password</strong></mat-card-title>
  </mat-card-header>

  <form (ngSubmit)="onPasswordChange(f)" #f="ngForm" class="my-form">
    <mat-card-content>
      <table style="width: 100%" cellspacing="10">
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Password:</mat-label>
              <input
                name="password"
                id="password"
                type="password"
                matInput
                placeholder="Enter your password"
                ngModel
                required
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>New Password:</mat-label>
              <input
                name="password2"
                type="password"
                matInput
                placeholder="Enter New Password"
                ngModel
                required
              />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>New Password:</mat-label>
              <input
                name="password3"
                type="password"
                matInput
                placeholder="Enter New Password"
                ngModel
                required
              />
            </mat-form-field>
          </td>
        </tr>
      </table>

      <p *ngIf="error" class="error">
        {{ error.msg }}
      </p>
      <p *ngIf="success" class="success">
        password successfuly changed
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- Actions go here -->
    </mat-card-actions>
    <button
      mat-button
      (click)="(onPasswordChange)"
      id="changePass"
      style="background-color: #673ab7; color: #ffffff"
      [disabled]="!f.valid"
    >
      <strong>Confirm</strong>
    </button>
  </form>
</mat-card>
</div>